@media screen and (width: 1366px) and (height: 1024px) and (orientation: landscape) {
      .container {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      
      video {
        width: 90vw;
        max-width: 1200px;
        border-radius: 10px;
        margin-bottom: -50px;
        margin-top: 250px;
      }
      
      .button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%; /* eller max-width fx 1200px */
        max-width: 1200px;
        margin-bottom: 25%;
      }

      .left-buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex: 1;
        margin-left: 20%;
        margin-bottom: 20px;
      }
      
      .button {
        padding: 20px 40px;
        width: 200px;             
        height: 100px;
        font-family: Passata;
        font-size: 38px;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s;
        background-color: var(--orange);

      }
      .replay {
        height: 120px;
      }

      
}