@media screen and (width: 1366px) and (height: 1024px) and (orientation: landscape) {
/* Fjerner scroll */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* Styler main generelt */
#pauseskærm {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

/* Generel styling af lag class - alt undtagen vejen */
.lag {
  width: 100%;
  height: auto;
  left: 0;
  transition: transform 0.3s ease-out;
  position: absolute;
}

/* Justerer størrelse og placering af billederne */
.himmel {
    width: 675%;
}

.græs {
    top: 350px;
}

.græs2 {
    top: 826px;
}

.træ {
    width: 475%;
    top: 360px;
}

.busk {
    width: 400%;
    top: 870px;
}

.bil {
    width: 50%;
    top: 550px;
    left: 690px;
}

/* Specifik justering til containeren med vejen */
.vej-wrapper {
  position: absolute;
  top: 548px;
  left: 0;
  display: flex;
  width: max-content;
  height: 200px;
}

.vej {
  width: 22768px;
  height: 280px;
}

/* Styling af tekst i midten af skærmen */
.tekst {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem; 
  z-index: 1000; 
  text-align: center;
}
}