@media screen and (width: 1366px) and (height: 1024px) and (orientation: landscape) {
/* Fjern scroll */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* Baggrund */
#pauseskærm {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

/* Fælles for alle lag */
.lag {
  width: 100%;
  height: auto;
  left: 0;
  transition: transform 0.3s ease-out;
  position: absolute;
}

.himmel {
    width: 230%;
}

.græs {
    top: 350px;
}

.træ {
    width: 475%;
    top: 360px;
}

.vej-wrapper {
  position: absolute;
  top: 548px; /* samme top som din vej */
  left: 0;
  display: flex;
  width: max-content;
  height: 200px;
}

.vej {
  width: 22768px; /* eller en anden bredde der passer præcist til skærmen */
  height: 280px;
}

.bil {
    width: 50%;
    top: 550px;
    left: 690px;
}

.græs2 {
    top: 826px;
}

.busk {
    width: 300%;
    top: 870px;
}

.tekst {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* eller en kontrastfarve, så teksten er synlig */
  font-size: 4rem; /* tilpas størrelsen efter behov */
  z-index: 1000; /* sikre den vises øverst */
  text-align: center;
}
}