* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (width: 1366px) and (height: 1024px) and (orientation: landscape) {
.container {
  text-align: center;
}

h1 {
  background-color: var(--blaa);
  color: white;
  padding: 12px 24px; 
  border-radius: 10px;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 100px; /* afstand mellem kortene */
  margin-top: 40px;
}

.card1, .card2 {
  background-color: var(--green);
  width: 300px;
  height: 500px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  position: relative;
}
.card1 {
  background-image: url(/Steno/billeder/kvindekon.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}
  
  .card2{
    background-image: url(/Steno/billeder/mandekon.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-label {
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}


.quizcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

}