* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Passata', sans-serif;
  color: white;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

/* Baggrund */
.road {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.progress-wrapper {
  width: 60%;
  margin: 20px auto 0 auto;
  position: relative;
  z-index: 1;
}

.progressbar {
  width: 100%;
  height: auto;
  display: block;
}

.bil {
  width: 15%;
  position: absolute;
  top: -20px; /* justér så bilen står ovenpå progressbaren */
  left: 0; /* eller et andet udgangspunkt */
  z-index: 2;
}


/* Footer */
footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-icons {
  display: flex;
  gap: 20px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button img {
  width: 40px;
}
