* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (width: 1366px) and (height: 1024px) and (orientation: landscape) {
.progress-wrapper {
  width: 60%;
  margin: 0px auto 0 auto;
  position: relative;
  z-index: 1;
  gap: 3rem;
}

.progressbar {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  display: block;
}

.bil {
  width: 25%;
  height: auto;
  position: absolute;
  top: -60px;
  left: 0;
  z-index: 2;
  transition: left 0.5s ease; /* ← gør bevægelsen glidende */
}


/* Quiz container og layout */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.question-box {
  background-color: var(--blaa);
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 3rem;
  height: 10rem;
  width: 70rem;
  margin-bottom: 30px;
  transition: height 0.3s ease;
  align-content: center;
}


.answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 5rem;
}

.answer {
  background-color: var(--orange);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  width: 30rem;
  height: 10rem;
  text-align: center;
}

.next-button {
  background-color: var(--orange);
  border: none;
  border-radius: 12px;
  padding: 1rem 3rem;
  cursor: pointer;
  width: auto;
  height: auto;
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.quiz-end-content {
  text-align: center;
  margin-top: 2rem;
}

.quiz-slut-billede {
  max-width: 100%;
  height: auto;
}

.quiz-afslut-tekst {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: #333;
  font-weight: 500;
}

.uvending-billede {
  width: 80px;
  margin-top: 1rem;
  cursor: pointer;
}
}